.bck
Trash/
telepathy
review/for-review
*__pycache__*
*.jl
*miniforge3*
*Miniforge3*
*.venv
*.csv
*.jsonl
*.m4a
*.json
*.png
*.html
*output
*logs
scrapers/logs
scrapers/data
scrapers_OLD
tree.html
doccano/data
*.ipynb_checkpo*
environment
datafun
various_tasks/Spain_datadump/data_*
doccano/pilotdata
po-token
doccano_OLD/data
ffmpeg*
scrapers/ffmpeg*
_-E4ttc-gJs.json
controversy-mapping/semantic-mapping/plots
*controversy-mapping/res
*nohup.out
*.bin
